@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="fg-line">
	<label class="fg-label control-label" data-bind="text: $root.getLocalizationText($data)"></label>
	<form-element params="value: Response, type: 'textarea'"></form-element>
</div>
