@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="fg-line">
	<label class="fg-label control-label" data-bind="text: $root.getLocalizationText($data)"></label>
	<form-element params="value: Response, type: 'select'">
		<select class="form-control" data-bind="options: window.ko.computed(function(){ var choicesArray = window.ko.utils.arrayMap(Helper.DynamicForm.getChoicesArray($parent), function(choice){ return { Value: choice.toString(), Text: $root.getLocalizationText($parent, choice) }; }); choicesArray.unshift({ Value: null, Text: window.Helper.String.getTranslatedString('All') }); return choicesArray; }), optionsText: 'Text', optionsValue: 'Value', value: value">
		</select>
	</form-element>
</div>
