@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<div class="card-header ch-alt text-right p-15">
	<button class="btn btn-default btn-lg f-13 waves-effect" data-bind="click: cancel">@(Html.Localize("Cancel"))</button>
	<button class="btn btn-lg btn-primary f-13 waves-effect m-l-5" data-bind="click: submit, disable: loading">@(Html.Localize("Save"))</button>
</div>
