@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li role="presentation">
	<a class="col-xs-4" href="#tab-notes" aria-controls="tab-notes" role="tab" data-toggle="tab" aria-expanded="false">
		@(Html.Localize("Notes"))
	</a>
</li>
