@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl
<!-- ko if: ["CrmArticle_ArticleGroup01", "CrmArticle_ArticleGroup02", "CrmArticle_ArticleGroup03", "CrmArticle_ArticleGroup04", "CrmArticle_ArticleGroup05"].indexOf($root.table) !== -1 -->
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<div class="fileinput" data-provides="fileinput" data-bind="css: { 'fileinput-exists': Base64Image, 'fileinput-new': Base64Image() == null }, validationElement: Base64Image">
				<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="line-height: 150px;">
					<!-- ko if: Base64Image -->
					<img data-bind="attr: { src: 'data:image/jpeg;base64,' + Base64Image() }"/>
					<!-- /ko -->
				</div>
				<div>
					<small class="help-block" data-bind="validationMessage: Base64Image"></small>
					<span class="btn btn-lg btn-primary f-13 btn-file waves-effect">
						<span class="fileinput-new">@(Html.Localize("SelectFile"))</span>
						<span class="fileinput-exists">@(Html.Localize("Change"))</span>
						<input type="file" name="..." data-bind="fileInput: { content: Base64Image }" accept="image/*">
					</span>
					<a href="#" class="btn btn-danger btn-lg f-13 fileinput-exists waves-effect" data-dismiss="fileinput">@(Html.Localize("Remove"))</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /ko -->