
@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="report-footer" style="margin-top: 1cm; page-break-inside: avoid;">
    <!-- ko with: site -->
    <!-- ko with: ExtensionValues -->
    <!-- ko if: ReportFooterImageBase64 -->
    <img class="footer-logo" data-bind="attr: { src: 'data:' + ko.unwrap(ReportFooterImageContentType) + ';base64,' + ko.unwrap(ReportFooterImageBase64) }" 
         style="max-height: 2cm; max-width: 100%; height: auto; width: auto; padding-left: 0; margin-left: 0; object-fit: contain;" />
    <!-- /ko -->
    <!-- ko ifnot: ReportFooterImageBase64 -->
    <table style="width: 100%;">
        <tr>
            <td style="padding-left: 0;">
                <small class="pre-line" data-bind="text: ReportFooterCol1"></small>
            </td>
            <td class="text-center">
                <small class="pre-line" data-bind="text: ReportFooterCol2"></small>
            </td>
            <td class="text-right">
                <small class="pre-line" data-bind="text: ReportFooterCol3"></small>
            </td>
        </tr>
    </table>
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
</div>
