@inherits Crm.Library.Modularization.CrmViewUserControl<GenericListViewModel>
@using Crm.Library.Extensions
@using Crm.ViewModels
@using Crm.Library.Modularization.Extensions

@{ var routeValues = new { plugin = Model.PluginName }; }

@Html.PluginRenderActions("MaterialGenericListResourceExtensions")
 @await Html.PartialAsync("Material/GenericListTopMenu") 

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="card generic-list" data-bind="css: { 'bulk-selection' : selectedItems().length > 0, 'has-bulk-actions' : bulkActions().length > 0, 'inline-editing' : !!isEditing() === true }">
				 @await Html.PartialAsync("Material/GenericListHeader") 
				 @Html.PluginRenderActions("ListIncompleteWarning")
				<!-- ko if: viewMode().Key === 'List' -->
				 @await Html.PartialAsync("Material/GenericListList") 
				<!-- /ko -->
				<!-- ko if: viewMode().Key === 'Calendar' -->
				 @await Html.PartialAsync("Material/GenericListCalendar") 
				<!-- /ko -->
				<!-- ko if: viewMode().Key === 'Thumbnails' -->
				 @await Html.PartialAsync("Material/GenericListThumbnails") 
				<!-- /ko -->
			</div>
		</div>
	</div>
	@Html.RenderAction("MaterialPrimaryAction", Model.ControllerName, routeValues)
</div>

 @await Html.PartialAsync("Material/GenericListItem") 
