@inherits Crm.Library.Modularization.CrmViewUserControl<GenericListViewModel>
@using Crm.ViewModels
@using Crm.Library.Globalization.Extensions

<div class="listview lv-bordered">
	<div class="lv-body row map-container">
		<!-- ko if: $root.showChart -->
		<flot-chart params="source: chartSource, 
											mapAndGroupBy: mapAndGroupBy, 
											color: getChartColor, 
											label: getChartLabel, 
											axisXLabel: chartAxisXLabel, 
											axisYLabel: chartAxisYLabel">
		</flot-chart>
		<!-- /ko -->
		<!-- ko if: $root.mapEnabled -->
			<!-- ko if: renderMap -->
			<div class="col-xs-12" data-bind="visible: showMap">
				<div data-bind="map: { elements: items, tileLayerUrl: window.Helper.Culture.setMapLanguage('@(Model.MapTileLayerUrl)') }" class="map whitebox" style="height: 500px"></div>
				<div class="hide search-on-map-template">
					<button class="btn btn-lg btn-default f-13 waves-effect search-on-map">
						<i class="zmdi zmdi-square-o search-on-map-disabled" data-bind="visible: searchOnMap() === false"></i>
						<i class="zmdi zmdi-check-square search-on-map-enabled" data-bind="visible: searchOnMap"></i>
						@(Html.Localize("SearchOnMap"))
					</button>
				</div>
			</div>
			<!-- /ko -->
		<!-- /ko -->
		<div class="col-xs-12">
			<div data-bind="template: { name: 'item-@(Model.ControllerName)', foreach: items }"></div>
			<!-- ko if: items().length === 0 -->
			<div id="generic-list-empty-state" class="lv-item media">
				<div class="row media-body">
					<div class="col-xs-12">
						<small class="lv-small" data-bind="visible: isFiltered">@(Html.Localize("NoRecordsForSearchCriteria"))</small>
					<div data-bind="visible: items().length === 0 && !isFiltered() && $root.hasOwnProperty('tabs') === false && !$root.loading()">
					  <div class="row text-center p-t-30">
						  <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
							  <img class="img-responsive center-block" style="opacity: 0.33; width: 70%;" data-bind="attr: { src: window.Helper.Url.resolveUrl('~/Content/img/lmobile-block-' + 'sad' + '.svg') }" />
						  </div>
						</div>
					  <div class="row text-center p-b-30">
						  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
							<h3 data-bind="translatedText: 'NoData'"></h3>
							<p data-bind="translatedText: 'NoRecordsForSearchCriteria'"></p>
						  </div>
						</div>
					</div>
					</div>
				</div>
			</div>
			<!-- /ko -->
		</div>
	</div>
</div>
<!-- ko ifnot: infiniteScroll -->
 @await Html.PartialAsync("MaterialPaging") 
<!-- /ko -->
<!-- ko if: infiniteScroll -->
 @await Html.PartialAsync("Material/GenericListPreloader") 
<!-- /ko -->
