@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="reportcontainer">
	<div class="report">
		<!-- ko if: (!$data.IsPdfViewModel || $data.IsPdfViewModel && !$data.IsPdfViewModel()) && $data.headerHeight && $data.headerHeight() -->
		<div class="repeating-header o-hidden" data-bind="style: { height: headerHeight() + 'cm' }">
			 @await Html.PartialAsync("Report/HeaderContent") 
		</div>
		<!-- /ko -->
		<table style="width: 100%; margin-bottom: 0;">
			<!-- ko if: (!$data.IsPdfViewModel || $data.IsPdfViewModel && !$data.IsPdfViewModel()) && $data.headerHeight && $data.headerHeight() -->
			<thead class="repeating-header-placeholder">
				<tr>
					<td>
						<div class="visible-print" data-bind="style: { height: headerHeight() + 'cm' }"></div>
					</td>
				</tr>
			</thead>
			<!-- /ko -->
			<tbody>
				<tr>
					<td>
