@inherits Crm.Library.Modularization.CrmViewUserControl<Crm.ViewModels.CrmModelItem<Dictionary<string,string>>>
<br />
@foreach (var localStorageEntry in Model.Item)
    { 
    <div class="row">
        <!--<div class="col-md-3"><input type="text" class="form-control" readonly="readonly" value="@(localStorageEntry.Key)" /></div>
        <div class="col-md-9"><textarea class="form-control" rows="5">@(localStorageEntry.Value)</textarea></div>-->
        <div class="col-md-3">@(localStorageEntry.Key)</div>
        <div class="col-md-9">@(localStorageEntry.Value)</div>
    </div>
 } 

