@inherits Crm.Library.Modularization.CrmViewPage<Crm.ViewModels.CrmModel>
@{Layout = "~/Views/Shared/Layout/MaterialLayout.cshtml";}

@section TitleContent {

	<title>@(Model.Site.DisplayName)</title>

}



