@inherits Crm.Library.Modularization.CrmViewUserControl<Crm.ViewModels.GenericListViewModel>
@using Crm.Library.Globalization.Extensions

<div class="lv-item media">
	<!-- ko if: $parent.bulkActions && $parent.bulkActions().length > 0  -->
	<div class="checkbox pull-left bulk-control p-l-10 p-r-10 p-t-10">
		<label>
			<input type="checkbox" data-bind="checked: $parent.selectedItems, checkedValue: $data, disable: !$parent.bulkActionAllowed.bind($root)($data)">
			<i class="input-helper" data-bind="visible: $parent.bulkActionAllowed.bind($root)($data)"></i>
		</label>
	</div>
	<!-- /ko -->
	<div class="lv-avatar bgm-bluegray pull-left" data-bind="text: Helper.String.getTranslatedString(Crm.Library.Model.PostingState.getEnumName(TransactionState()))[0], visible: !$parent.selectedItems || $parent.selectedItems().length === 0"></div>
	<div class="media-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="lv-title">
					<a href="#" data-bind="attr: { href: '#/Main/Posting/DetailsTemplate/' + Id() }">
						<span data-bind="text: Id"></span>
					</a>
				</div>
				<small class="small">
					<span>@(Html.Localize("Postings")):&nbsp;</span><span data-bind="text: PostingCount()"></span>
				</small>
				<ul class="lv-attrs">
					<li>
						<span data-bind="translatedText: Crm.Library.Model.PostingState.getEnumName(TransactionState())"></span>
					</li>
					<li>
						<i class="zmdi zmdi-calendar"></i>
						<span data-bind="dateText: { value: CreateDate, pattern: { datetime: 'short'} }"></span>
					</li>
					<li>
						<i class="zmdi zmdi-account-o"></i>
						<span data-bind="userDisplayName: { UserName: CreateUser, Users: $root.users }"></span>
					</li>
					<li data-bind="visible: Retries">
						<i class="zmdi zmdi-refresh-sync-alert"></i>
						<span>@(Html.Localize("Retries"))</span>:&nbsp;<span data-bind="text: Retries"></span>
						<span data-bind="if: RetryAfter">
							,&nbsp;@(Html.Localize("Next")):&nbsp;<span data-bind="dateText: { value: RetryAfter, pattern: { datetime: 'short'} }"></span>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

