@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<li id="trigger-posting-service-top-menu" class="dropdown" title="@(Html.Localize("RunNow"))" data-bind="visible: $root.status() == 'online', tooltip: true" data-placement="bottom">
	<a href="#" data-bind="click: function() { $root.trigger(); return false; }">
		<i class="tm-icon zmdi zmdi-play"></i>
	</a>
</li>

