@using Crm.Library.Modularization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-details">
	<pmb-block params="icon: 'info-outline', caption: 'BasicInformation', context: { site: site }, condition: false">
		<pmbb-view>
			<!-- ko with: site -->
			<pmbb-view-entry params="caption: 'Name'">
				<span data-bind="text: Name"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: Name"></span>
			</pmbb-view-entry>
			<!-- ko with: ExtensionValues -->
			<pmbb-view-entry params="caption: 'Host'">
				<a data-bind="text: Host" href="{{Host}}" target="_blank"></a>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: Host"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'Language'">
				<span data-bind="text: DefaultLanguageKey"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: DefaultLanguageKey"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'Locale'">
				<span data-bind="text: DefaultLocale"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: DefaultLocale"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'Country'">
				<span data-bind="text: $root.country"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: $root.country"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'Plugins'">
				<span data-bind="text: $root.activePlugins().join(', ')"></span>
			</pmbb-view-entry>
			<!-- /ko -->
			<!-- /ko -->
		</pmbb-view>
	</pmb-block>
	<pmb-block params="icon: 'lock-outline', caption: 'DataProtectionTitle', context: { site: site }, condition: false">
		<pmbb-view>
			<!-- ko with: site -->
			<!-- ko with: ExtensionValues -->
			<pmbb-view-entry params="caption: 'DataProtectionCompanyName'">
				<span data-bind="text: CompanyName"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: CompanyName"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'DataProtectionResponsibleAddress'">
				<span data-bind="text: ResponsibleAddress"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ResponsibleAddress"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'DataProtectionOfficer'">
				<span data-bind="text: DataProtectionOfficer"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: DataProtectionOfficer"></span>
			</pmbb-view-entry>
			<!-- /ko -->
			<!-- /ko -->
		</pmbb-view>
	</pmb-block>
	<pmb-block params="icon: 'file-text', caption: 'Report', context: { site: site }, condition: false">
		<pmbb-view>
			<!-- ko with: site -->
			<!-- ko with: ExtensionValues -->
			<pmbb-view-entry params="caption: 'ReportLogo'">
				<!-- ko if: ReportLogoBase64 -->
				<div class="img-thumbnail-container">
					<img class="img-responsive" data-bind="attr: { src: 'data:image/png;base64,' + ReportLogoBase64() }" />
				</div>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ReportLogoBase64"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'ReportFooter'">
				<!-- ko if: ReportFooterImageBase64 -->
				<div class="img-thumbnail-container">
					<img class="img-responsive" data-bind="attr: { src: 'data:image/png;base64,' + ReportFooterImageBase64() }" />
				</div>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ReportFooterImageBase64"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'ReportFooterCol1'">
				<span data-bind="text: ReportFooterCol1"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ReportFooterCol1"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'ReportFooterCol2'">
				<span data-bind="text: ReportFooterCol2"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ReportFooterCol2"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'ReportFooterCol3'">
				<span data-bind="text: ReportFooterCol3"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ReportFooterCol3"></span>
			</pmbb-view-entry>
			<!-- /ko -->
			<!-- /ko -->
		</pmbb-view>
	</pmb-block>
	@Html.PluginRenderActions("SiteDetailsTab")
</div>