@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="container">
	<div class="card">
		<div class="card-header ch-alt">
			<h2>@(Html.Localize("SiteSettings"))</h2>
		</div>
		<div class="card-body card-padding">
			<form role="form" data-bind="with: site">
				@await Html.PartialAsync("Site/EditBasicInformation")
				@await Html.PartialAsync("Site/EditDataProtection")
				@await Html.PartialAsync("Site/EditReport")
			</form>
		</div>
		@await Html.PartialAsync("CreateFormFooter")
	</div>
</div>