@inherits Crm.Library.Modularization.CrmViewUserControl<Crm.ViewModels.CrmModelList<string>>

@foreach (var elementType in Model.List) { 
	<script type="text/html" id="attributeform-filter-template-@(elementType)">
		<div data-bind="attr:{id:'formelement-' + Id()}">
			 @await Html.PartialAsync(String.Format("MaterialFilterTemplates/{0}", elementType)) 
		</div>
	</script>
 } 
