<div class="modal fade" id="{{Id}}" tabindex="-1" role="dialog" aria-labelledby="imagePopUpModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="text-align: center">
			<figure class="article-preview">
				<img class="img-responsive" data-bind="fileResource: DocumentAttributes()[0].FileResource" />
			</figure>
		</div>
	</div>
</div>