@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<fieldset>
	<legend class="m-b-25 c-black b-0 f-500 f-14">
		@(Html.Localize("BasicInformation"))
	</legend>
	<div class="row">
		<div class="col-md-6">
			<form-element params="value: Name, caption: 'Name', type: 'text'"></form-element>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<!-- ko with: ExtensionValues -->
			<form-element params="value: Host, caption: 'Host', type: 'text', disable: window.Main.Settings.Site.HostEditable !== true"></form-element>
			<!-- /ko -->
		</div>
	</div>
	<!-- ko with: ExtensionValues -->
	<div class="row">
		<div class="col-md-6">
			<form-element id="Language" params="value: DefaultLanguageKey, caption: 'Language', type: 'select'">
				<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_Language'), placeholder: placeholder }">
				</select>
			</form-element>
		</div>
		<div class="col-md-6">
			<form-element id="Locale" params="value: DefaultLocale, caption: 'Locale', type: 'select'">
				<select class="form-control" data-bind="select2autocompleter: { data: $root.locales, optionsText: Helper.Culture.getDisplayName, placeholder: placeholder }, value: value">
				</select>
			</form-element>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<form-element id="Country" params="value: DefaultCountryKey, caption: 'Country', type: 'select'">
				<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_Country'), placeholder: placeholder }">
				</select>
			</form-element>
		</div>
	</div>
	<!-- /ko -->
	<div class="row">
		<div class="col-sm-12 form-group">
			<label class="control-label">
				<span>@(Html.Localize("Plugins"))</span>
			</label>
			<select class="form-control" multiple="multiple" data-bind="select2autocompleter: { data: $root.getSelectedPlugins.call($root, $root.selectedPlugins()) , autocompleteOptions: { table: () => database.Main_Site.GetPlugins(), mapDisplayObject: $root.mapPluginForSelect2Display } }, selectedOptions: $root.selectedPlugins, disable: window.Main.Settings.Site.PluginsEditable !== true">
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			@await Html.PartialAsync("Site/EditMaterialTheme")
		</div>
	</div>
	<!-- ko with: $root -->
	<div class="row">
		<div class="col-md-6">
			@await Html.PartialAsync("Site/EditSiteLogo")
		</div>
	</div>
	<!-- /ko -->
</fieldset>