@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="row">
	 @await Html.PartialAsync("MaterialEditTemplates/Hint") 
	 @await Html.PartialAsync("MaterialEditTemplates/History") 
	<div data-bind="css: 'col-xs-10'">
		<pmbb-edit-entry params="caption: $root.getLocalizationText($data), validationElement: Response">
			<input type="number" class="form-control" data-bind="value: Response">
		</pmbb-edit-entry>
	</div>
</div>
